# Allow trusted native packages to run install/build scripts.
trusted-dependencies[]=@parcel/watcher
trusted-dependencies[]=@swc/core
trusted-dependencies[]=sharp
trusted-dependencies[]=unrs-resolver
store-dir=/pnpm/store
registry=https://registry.npmjs.org/
