trusted-dependencies[]=@parcel/watcher
trusted-dependencies[]=@parcel/watcher-linux-arm64-musl
trusted-dependencies[]=@swc/core
trusted-dependencies[]=sharp
trusted-dependencies[]=unrs-resolver
store-dir=~/.pnpm-store
registry=https://registry.npmjs.org/